# Flutter build & tooling
build/
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages

# Android
android/.gradle/
android/local.properties
android/key.properties
*.jks
*.keystore
android/app/release/

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/Flutter/engine/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh

# Web
web/build/

# Desktop
windows/flutter/ephemeral/
linux/flutter/ephemeral/

# Env files
.env
.env.*

# IDEs
.idea/
.vscode/
*.iml

# OS
.DS_Store
Thumbs.db
